/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/Products/[productId]/productdetail.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.productdetail_prodetail__au3o2 {
    height: 800px;
    width:900px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;

}
.productdetail_prodetailtable1__1qbQ1{
    height:50%;
    width:50%;
}
.productdetail_prodetailtable2___dZ4O{
    height:800px;
    width:50%;
    display:flex;
    flex-direction: column;
}

.productdetail_prodetailbox__U7XL2{
    height:-moz-fit-content;
    height:fit-content;
    width:700px;
    margin: 20px;
    text-align: center;

}
