/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/Components/Product-Card/productcard.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.productcard_content__A7xIX {
    display: flex;
    flex:1 1;
    background-color: whitesmoke;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction:row;

}
.productcard_box__H_DLx {
    width: 400px;
    height: 450px;
    margin: 5px;
    background-color: white;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .productcard_flex-column__3tc7z {
    flex: 0 0 33.3333%;
  }

  .productcard_text__7t8T_ {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
